@{
    ViewData["Title"] = "Головна";
}

<div class="text-center py-4">
    <h1 class="mb-4">Система кафедральної бібліотеки</h1>

    <div class="card border-0 shadow-sm mx-auto" style="max-width: 760px; border-radius: 16px; background-color: #ffffff;">
        <div class="card-body p-4">
            <p class="mb-3 fs-5">
                Це проєкт системи кафедральної бібліотеки.
            </p>

            <p class="mb-2">
                <strong>Виконала:</strong> студентка групи К-24 Острєцова Катерина
            </p>

            <p class="mb-0">
                <strong>Викладач:</strong> Віталій Ткаченко
            </p>
        </div>
    </div>
</div>