@model LibraryWebMvc.Models.Faculty

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Факультет</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Назва
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacultyName)
        </dd>
    </dl>
</div>
<h4>Кафедри цього факультету</h4>
<hr />

@if (Model.Departments != null && Model.Departments.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Назва кафедри</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model.Departments)
            {
                <tr>
                    <td>@department.DepartmentName</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Факультет не має жодної кафедри.</p>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FacultyId">Редагувати</a> |
    <a asp-action="Index" class="back-link">Назад до списку</a>
</div>
