@model IEnumerable<LibraryWebMvc.Models.Faculty>

@{
    ViewData["Title"] = "Index";
}

<h1>Список факультетів</h1>

<p>
    <a asp-action="Create" class="create-link">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Назва факультету</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.FacultyId" class="action-link">Редагувати</a>
                    <a asp-action="Details" asp-route-id="@item.FacultyId" class="action-link">Детальніше</a>
                    <a asp-action="Delete" asp-route-id="@item.FacultyId" class="action-link">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
