@model LibraryWebMvc.Models.PublicationType

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<h3></h3>
<div>
    <h4>Тип видання</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Тип видання
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="delete-form">
        <input type="hidden" asp-for="PublicationTypeId" />
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <a asp-action="Index" class="back-link">Назад до списку</a>
    </form>
</div>
