@model LibraryWebMvc.Models.PublicationType

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Тип видання</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Тип видання
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
    </dl>
</div>
<h4>Видання цього типу</h4>
<hr />

@if (Model.Publications != null && Model.Publications.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Назва</th>
                <th>Рік</th>
                <th>Мова</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var publication in Model.Publications)
            {
                <tr>
                    <td>@publication.Title</td>
                    <td>@publication.Year</td>
                    <td>@publication.Language</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No publications are assigned to this type.</p>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PublicationTypeId">Редагувати</a> |
    <a asp-action="Index" class="back-link">Назад до списку</a>
</div>
