@model LibraryWebMvc.Models.Borrowing

@{
    ViewData["Title"] = "Create";
}

<h1>Створити</h1>

<h4>Видачу</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Читач</label>
                <select asp-for="ReaderId" class="form-control" asp-items="ViewBag.ReaderId"></select>
                <span asp-validation-for="ReaderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Копія</label>
                <select asp-for="CopyId" class="form-control" asp-items="ViewBag.CopyId"></select>
                <span asp-validation-for="CopyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowDate" class="control-label">Дата видачі</label>
                <input asp-for="BorrowDate" class="form-control" type="date" />
                <span asp-validation-for="BorrowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label">Термін повернення</label>
                <input asp-for="DueDate" class="form-control" type="date" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label">Дата повернення</label>
                <input asp-for="ReturnDate" class="form-control" type="date" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="IsReturned" value="false" />
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="back-link">Назад до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
